@model IEnumerable<Entities.Contact>

@{
    ViewBag.Title = "İletişim";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div id="page-wrapper">
    <div class="main-page">
        <div class="tables">

            <div class="row">
                <div class="col-md-12">
                    <h3>İletişim Bilgileri</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <table class="table table-responsive table-striped table-bordered table-hover panel-body widget-shadow" style="margin-top:10px">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Addresses)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Phone1)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Phone2)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Email)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Instagram)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Twitter)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Youtube)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Linkedin)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CreatedOn)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ModifiedOn)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ModifiedUsername)
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                    <tr>
                        <td>
                            @Html.Raw(item.Addresses)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Phone1)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Phone2)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Instagram)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Twitter)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Youtube)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Linkedin)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedOn)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ModifiedOn)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ModifiedUsername)
                        </td>
                        <td>
                            <div class="col-md-2 text-right">
                                <a href="/Contact/Edit/@item.Id" title="Düzenle" class="btn btn-warning">
                                    <span class="glyphicon glyphicon-edit">&nbsp;</span>Düzenle
                                </a>
                            </div>
                        </td>
                    </tr>
                        }

                    </table>
                </div>
            </div>

        </div>
        <div class="clearfix"> </div>
    </div>
</div>
